:host {
  display: inline-block;
  width: 1em;
  height: 1em;

  contain: strict;
  box-sizing: content-box !important;
}

.icon-inner,
svg {
  display: block;
  overflow: visible;

  height: 100%;
  width: 100%;
}

.path, .outline, .solid, .mono {
  & > svg *[stroke] {
    stroke: currentColor;
  }
}

.path, .outline, .solid, .mono {
  & > svg *[fill] {
    fill: currentColor;
  }
}
